@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    @apply bg-primary text-white;
  }

  .primary:hover {
    @apply hover:bg-primary text-white hover:bg-opacity-90;
  }

  .secondary {
    @apply bg-secondary text-white;
  }

  .secondary:hover {
    @apply bg-secondary text-white hover:bg-opacity-90;
  }

  .textA {
    @apply text-textA;
  }

  .textA:hover {
    @apply text-textA text-opacity-80;
  }

  .textB {
    @apply text-textB;
  }

  .textB:hover {
    @apply text-textB text-opacity-80;
  }

  .textC {
    @apply text-textC;
  }

  .textC:hover {
    @apply text-textC text-opacity-80;
  }

  .default {
    @apply bg-default text-white;
  }

  .default:hover {
    @apply bg-default text-white bg-opacity-100;
  }

  .clean {
    @apply bg-white text-primary;
  }

  .clean:hover {
    @apply bg-clean text-primary bg-opacity-90;
  }

  .error {
    @apply bg-error text-white;
  }

  .error:hover {
    @apply bg-error text-white bg-opacity-90;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

#root,
html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156, 156, 156);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 155, 155);
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(238, 238, 238) inset !important;
  -webkit-text-fill-color: rgb(141, 140, 140) !important;
}

/* Remover setas do input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-step absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-step rounded-full font-semibold text-white;
}
.active .step {
  @apply bg-step;
}
.complete .step {
  @apply bg-primary;
}
.complete p {
  @apply text-white;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-primary;
}
